.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1334rpx;
  overflow: hidden;
  .image-wrapper_1 {
    width: 658rpx;
    height: 31rpx;
    margin: 67rpx 0 0 46rpx;
    .icon_1 {
      width: 45rpx;
      height: 31rpx;
    }
    .icon_2 {
      width: 30rpx;
      height: 30rpx;
    }
  }
  .box_1 {
    background-color: rgba(251, 249, 236, 1);
    width: 750rpx;
    // height: 98rpx;
    margin-top: 30rpx;
	display: flex;
    .icon_3 {
      width: 30rpx;
      height: 30rpx;
      margin: 21rpx 0 0 23rpx;
    }
    .paragraph_1 {
      width: 670rpx;
      // height: 54rpx;
      // overflow-wrap: break-word;
      color: rgba(210, 145, 36, 1);
      font-size: 22rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      text-align: left;
      line-height: 32rpx;
      margin: 23rpx 70rpx 23rpx 12rpx;
    }
  }
  .text_1 {
    width: 203rpx;
    height: 49rpx;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 52rpx;
    font-family: PingFang-SC-Bold;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 41rpx;
    margin: 70rpx 0 0 46rpx;
  }
  .text_2 {
    width: 320rpx;
    height: 27rpx;
    overflow-wrap: break-word;
    color: rgba(101, 106, 117, 1);
    font-size: 28rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 41rpx;
    margin: 79rpx 0 0 49rpx;
  }
  .input_1 {
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
    width: 654rpx;
    height: 98rpx;
    margin: 15rpx 0 0 48rpx;
    .text-wrapper_1 {
      width: 334rpx;
      height: 35rpx;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: DIN-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 41rpx;
      margin: 35rpx 0 0 36rpx;
      .text_3 {
        width: 334rpx;
        height: 35rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 36rpx;
        font-family: DIN-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 41rpx;
      }
      .text_4 {
        width: 334rpx;
        height: 35rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 36rpx;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 41rpx;
      }
      .text_5 {
        width: 334rpx;
        height: 35rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 36rpx;
        font-family: DIN-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 41rpx;
      }
    }
    .icon_4 {
      width: 30rpx;
      height: 30rpx;
      margin: 34rpx 30rpx 0 224rpx;
    }
  }
  .button_1 {
    background-color: rgba(245, 213, 90, 1);
    border-radius: 10px;
    height: 98rpx;
    width: 654rpx;
    margin: 43rpx 0 629rpx 48rpx;
	display: flex;
	justify-content: center;
	align-items: center;
    .text_6 {
      // width: 94rpx;
      // height: 31rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 1);
      font-size: 32rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      // line-height: 41rpx;
      // margin: 33rpx 0 0 280rpx;
    }
  }
}
